@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body
{
  background: #ffffff;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px;
}

.header
{
  display: flex;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}
.logo
{
  padding-top: 5px;
  align-content: center;
}

.navbar
{
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  list-style: none;
}

.navbar a
{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #3d3d3d;
  font-size: 22px;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  }


.time
{
  color: #3d3d3d;
}
.navbar
{
   font-family: 'Courier Prime', monospace;
   text-decoration: none;
   justify-content: center;
   display: flex;
   gap: 1.5rem;
   padding-top: 20px;
   padding-bottom: 105px;
}

nav > a
{
  color: #3d3d3d;
  text-decoration: none;
  font-family: 'Courier Prime', Courier, monospace;
  font-size: 22px;
  cursor: pointer;
}

.navbar a::after
{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #f94c06;
  left: 0;
  bottom: 0;
  transform: scale(0,1);
  transition: transform 0.6s ease;
}

.navbar a:hover::after
{
  transform: scale(1,1);
}

.log
{
  padding-top: 5px;
}

.timeline
{
  text-align: center;
  font-family: 'Courier Prime', monospace;
  text-decoration: underline;
  text-decoration-color: orange;
}


body {
  margin: 0;
  font-family: 'Courier Prime', monospace;
  background: #ffffff;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: none;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  right: 5%;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #f94c06;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #f94c06;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: none;
  border: 0px;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #f94c06;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 0px;
    border-color: transparent #f94c06 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 0px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
